@{
    ViewData["Title"] = "Index";
}
<h2>Education Management Information System (EMIS)</h2>
<style>
    .a{
        width:300px;
        height:65px;
        margin:10px;
        font-size:30px;
    }
</style>
<a asp-action="AddTeacher" class="btn btn-secondary a">Add Teacher</a>
<a asp-action="AddStudent" class="btn btn-secondary a">Add Student</a>
<br />
<a asp-action="ViewTeachers" class="btn btn-secondary a">View Teachers</a>
<a asp-action="ViewStudents" class="btn btn-secondary a">View Students</a>